[submodule "Projects/Merve-Care"]
	path = Projects/Merve-Care
	url = https://github.com/bonkiyebushra/Merve-Care
[submodule "Projects/computer_repair_guy"]
	path = Projects/computer_repair_guy
	url = https://github.com/bonkiyebushra/computer_repair_guy
