html {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#container {
    position: relative;
}

#list {
    height: 650px;
    width: 450px;
    background-color: rgb(100, 226, 184);
}

button{
    background-color: rgb(37, 147, 211);
}

#buttons {
    display: grid;
    grid-template-columns: 50% 50%;
    font-size: 20px;
    margin-top: 3px;
}

.list_item_container {
    background-color: rgb(221, 79, 221);
    display: block;
    font-size: 20px;
    margin-top: 1px;
}

.task {
    font-size: 30px;
}
input[type = 'text'] {
    width: 100%;
}

input[type = 'checkbox'] {
    margin-left: 10px;
    margin-right: 7px;
    transform: scale(1.75);
}


.remove {
    background-color: yellow;
}