#home_top_section {
    position: relative;
    height: 75vh;
    background-image: linear-gradient(to left, rgba(255,255,255,0) 40%,
    rgb(173, 63, 63)), url('images/nurse-pointing-old-man-s-book.jpg') ;
    /* background-size: 100%; */
    margin-top: 1rem;
}

#top_section_text {
    /* background-color: rgba(34, 49, 221, 0.397); */
    color: white;
    position: absolute;
    left: 0;
    top: 60%;
}

.service {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    padding: 0rem 1rem 1rem 1rem;
}

.service a {
    margin-top: auto;
    margin-bottom: 0;
    color: rgb(161, 14, 14);
    width: fit-content;
}